body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #605555;
}

.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2{
	color: white;
}
.repos{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: auto;
	flex-wrap: wrap;
}
.card_container{
	background-color: white;
	width: 300px;
	height: 260px;
/*	border: 2px solid red;*/
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	margin: 10px;
	padding: 5px 0 5px 10px;
	border-radius: 20px;
}
.card_header{
	display: flex;
	align-items: center;
}
.avatar img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px;
}
.repo_details{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	margin-left: 10px;
}

.repo_details h5,h4{
	margin: 5px;
}
.data{
	display: flex;
	align-items: center;
}

.data h5,p{
	margin: 5px;
}

a{
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
}
a:hover{
	text-decoration: underline;
}
.card_body p{
	font-size: medium;
}