:root{
	--primary:#ffffff;
}

body{
	background-color: #605555;
	height: 100vh;
	display: flex;
	margin: auto;
	justify-content: center;
}

.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90vw;
}

.input_container{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 60%;
	border-radius: 30px;
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.input_container p{
	margin-right: 10px;
}
.input_container button{
	margin-left:10px;
	margin: 5px;
}
.input_container input{
	border-radius: 10px;
	padding-left: 10px;
	outline: none;
	border: 1px solid black;
}
.input_container input:hover{
	outline: none;
}
.loader{
	color: white;
}
/*-----------------------Loader-------------------*/

@-webkit-keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.scaling-dots {
  display: grid;
  height: 10px;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 10px);
  margin-top: 200px;
}
.scaling-dots div {
    -webkit-animation: scaling-dots 1s infinite ease backwards;
            animation: scaling-dots 1s infinite ease backwards;
    background: var(--primary);
    border-radius: 100%;
    height: 10px;
    width: 10px; 
}
.scaling-dots div:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.scaling-dots div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.scaling-dots div:nth-child(3) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.scaling-dots div:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.scaling-dots div:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}


/*-----------------------------------------------*/
h2{
	color: white;
}
.repos_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 20px;
	width: 90vw;
}
.repos{
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	flex-wrap: wrap;
}
.card_container{
	background-color: white;
	width: 300px;
	min-height: 260px;
/*	border: 2px solid red;*/
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	margin: 10px;
	padding: 5px 0 5px 10px;
	border-radius: 20px;
}
.card_header{
	display: flex;
	align-items: center;
}
.avatar svg{
	width: 40px;
	height: 40px;
	margin: 5px;
}
.repo_details{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	margin-left: 10px;
}

.repo_details h5,h4{
	margin: 5px;
}
.repo_details h4{
	font-size: 20px;
	font-weight: 600;
}
.repo_details h5{
	font-size: 15px;
	font-weight: 600;
}
.data{
	display: flex;
	align-items: center;
}

.data h5,p{
	margin: 5px;
}
.data h5{
	font-size: 15px;
}

a{
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
}
a:hover{
	text-decoration: underline;
}
.card_body p{
	font-size: medium;
}

@media(max-width:768px){
	body{
		font-size: 15px;
	}
	.input_container{
		width: 80%;
	}
}

@media(max-width:426px){
	.input_container{
		flex-direction: column;
		width: 80%;
		align-items: flex-start;
	}
	.input_container p,.input_container input,.input_container button{
		margin-left: 30px;
	}
}